{{#each this}}
  <div class="block">
    <h2 class="crud_h2">{{this.name}}</h2>
    <div class="img-wrapper"><img src="{{this.img}}" alt="" /></div>
    <p>ЦінаЙ: {{this.price}}</p>
  </div>

{{/each}}